.heading {
    text-align: center;
    display: block;
    background-color: rgb(131, 185, 160);
    color: white;
}

.page {
    font-size: 36px;
}

.section {
    font-size: 24px;
}

.recipe-image {
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
}